.App {
  text-align: center;
  margin: 100px auto;
  max-width: 300px;
  position: relative;
}

.strength-level span {
  color: red;
}

.strength-bar span {
  background-color: #eee;
  display: inline-block;
  width: 50px;
  height: 5px;
  margin: 0 5px;
}

#level1 span:first-child, 
#level2 span:first-child, 
#level3 span:first-child, 
#level4 span:first-child {
  background-color: #f90000 !important;
}
#level2 span:nth-child(2), 
#level3 span:nth-child(2), 
#level4 span:nth-child(2) {
  background-color: #ffa264 !important;
}
#level3 span:nth-child(3), 
#level4 span:nth-child(3) {
  background-color: #00993d !important;
}
#level4 span:last-child {
  background-color: #00de30 !important;
}

.notices {
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 20px 5px 5px;
  position: relative;
}
.notices.warning {
  background-color: #ff9800;
  color: #fff;
}
.notices.suggestions {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #000;
  max-width: 300px;
  position: absolute;
  right: -300px;
  top: 0;
  width: 100%;
  animation: FadeOut 0.5s ease-out;
}

@keyframes FadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}